@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.tlacitko{
    @apply bg-comenioblue mx-8 my-4 flex justify-center rounded-xl block;
}

.tlacnadpis{
    @apply py-6 px-8 text-lg md:text-lg md:py-8 md:px-12 lg:text-xl lg:py-10 lg:px-14 xl:text-2xl;
}

.menuicon{
    @apply w-6 inline-block pr-1;  
}

.zaznam{
    @apply w-full h-14 items-center flex text-lg font-semibold;
}

.zaznamodpoved{
    @apply  h-20 items-center flex text-xl my-6 mx-6 rounded-xl;
}

.stin{
    box-shadow: 0 0 10px 1.5px #b5babe
}

.scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 20px;
  }

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: white;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #3002EA;
    border-radius: 100vh;
    border: 1px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #00AEC9;
}